.container{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.card {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1rem;
  background: #f9f9f9;
  width: 50%;
}

.card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.678);
  transform: translateY(-5px);
  
}