<div class="form-container">
  <h2 class="form-title">{{ editMode ? 'Editar Cliente' : 'Crear Cliente' }}</h2>

  <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Nombre</label>
      <input type="text" formControlName="nombre" />
    </div>

    <div>
      <label>Apellido</label>
      <input type="text" formControlName="apellido" />
    </div>

    <div>
      <label>DNI</label>
      <input type="text" formControlName="dni" />
    </div>

    <div>
      <label>Teléfono</label>
      <input type="text" formControlName="telefono" />
    </div>

    <div>
      <label>Dirección</label>
      <input type="text" formControlName="direccion" />
    </div>

    <div>
      <label>Tipo de Membresía</label>
      <select formControlName="tipoMembresia" class="modern-select">
        <option [ngValue]="" disabled>Selecciona un tipo</option>
        <option value="Mensual">Mensual</option>
        <option value="Trimestral">Trimestral</option>
        <option value="Anual">Anual</option>
      </select>
    </div>

    <div>
      <label>Imagen (Opcional)</label>
      <input
        type="file"
        id="imagenInput"
        (change)="onFileSelected($event)"
        hidden
      />
      <button
        type="button"
        class="btn-file"
        onclick="document.getElementById('imagenInput').click()"
      >
        Seleccionar archivo
      </button>
      <span *ngIf="imagenSeleccionada; else noFile">
        {{ imagenSeleccionada.name }}
      </span>
      <ng-template #noFile>
        <span>No se ha seleccionado ningún archivo.</span>
      </ng-template>
    </div>

    <div class="button-group">
      <button class="btn btn-primary" type="submit" [disabled]="clienteForm.invalid">
        {{ editMode ? 'Actualizar' : 'Crear' }}
      </button>
      <button class="btn btn-secondary" type="button" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>