<div class="form-container">
  <h2 class="form-title">{{ editMode ? 'Editar Cliente' : 'Crear Cliente' }}</h2>

  <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Nombre</label>
      <input type="text" formControlName="nombre" />
    </div>

    <div>
      <label>Apellido</label>
      <input type="text" formControlName="apellido" />
    </div>

    <div>
      <label>DNI</label>
      <input type="text" formControlName="dni" />
    </div>

    <div>
      <label>Teléfono</label>
      <input type="text" formControlName="telefono" />
    </div>

    <div>
      <label>Dirección</label>
      <input type="text" formControlName="direccion" />
    </div>
    


    <button type="submit" [disabled]="clienteForm.invalid">
      {{ editMode ? 'Actualizar' : 'Crear' }}
    </button>
    <button type="button" (click)="cancelar()">Cancelar</button>
  </form>
</div>

